.masthead {
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  
  &__inner-wrap {
    padding: 1em;
    font-family: "Helvetica Neue", sans-serif;
    
    nav {
      z-index: 10;
    }
  }
}