/* Colors */
$gray: #7a8288 !default;
$dark-gray: mix(#000, $gray, 40%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

/* Brand colors */
$primary-color: #005498 !default;  // Professional blue
$link-color: #007dbe !default;     // Slightly lighter blue for links

/* Text */
$body-color: $dark-gray !default;
$background-color: #fff !default;
$code-background-color: $lighter-gray !default;
$text-color: $dark-gray !default;
$border-color: $lighter-gray !default;